<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="wrapper">
        <header>
            <h1>Layout</h1>
            <h2>Subtitle</h2>
        </header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Something More</a></li>
                <li><a href="#">Something Even More...</a></li>
            </ul>
        </nav>
        <main>
            <article class="col-s col-m col-l" >
                <h3>Coffee Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, sapiente facere perferendis fugiat
                    optio hic nemo id sit! Vero eos dolor dignissimos earum, sed. Natus, quo omnis ipsa fugiat pariatur?</p>
            </article>
            <article class="col-s col-m col-l"> 
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum alias nemo beatae laboriosam aperiam inventore
                    cum eligendi eum rerum optio est, fugit provident voluptatum et, eaque consequatur ab nihil non.Distinctio
                    quia quaerat, et! Odio excepturi ratione porro sequi possimus doloremque, maiores autem quis dicta repellat
                    nulla tenetur distinctio voluptatem iure ipsa harum non et quos quam laboriosam optio dolorem.</p>
            </article>
            <article class="col-s col-m col-l">
                <h3>Baby Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam accusamus placeat dolorum praesentium delectus
                    repellat quibusdam, eum numquam molestias dolor autem quis magni soluta, consequatur, aperiam doloribus
                    illo ut. Fugit?Cupiditate architecto maiores iste deleniti totam, eum recusandae, harum consequuntur
                    assumenda error officia, aut explicabo quaerat. Voluptate aspernatur vitae commodi blanditiis, laudantium,
                    nesciunt omnis, earum accusamus sunt quia odit quo.Minima cupiditate incidunt dignissimos quas omnis
                    suscipit quam ipsam? Libero enim amet aut inventore quibusdam pariatur sequi vitae ipsum suscipit aperiam
                    quaerat, maxime vel harum! Ea, voluptates commodi molestias fugiat.</p>
            </article>
            <article class="col-s colbot-m col-l">
                <h3>Zombie Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sapiente perferendis, beatae aliquam, id
                    nihil ut aperiam non voluptatum rem suscipit eveniet enim quibusdam, culpa perspiciatis, nisi laboriosam
                    delectus nemo.Ipsum sit atque, aliquam molestiae culpa iusto eos id, dolores et ex necessitatibus suscipit
                    labore quod repellat dolore quo iure in quis similique cum, commodi sint possimus, repellendus! Fugiat,
                    ipsam!</p>
            </article>
        </main>
    </div>
</body>

</html>